* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Translate Styles */
#google_translate_element {
    position: absolute;
    z-index: 100;
    top: 21%;
    /* left: 50%;
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px); */
}

#hint {
    color: #e5cfee;
    margin-top: 20px;
}

.goog-te-banner-frame,
.goog-te-gadget span {
    display: none;
}

.goog-te-gadget {
    font-size: 0px !important;
    position: relative;
    z-index: 3;
}

.goog-te-gadget select:focus {
    border: none;
    outline: none;
}

.goog-te-gadget select {
    padding: 7px;
}


body {
    background-color: #802ecc;
    overflow-x: hidden;
}

body::after {
    content: "";
    position: absolute;
    width: 4%;
    height: 120%;
    background-color: #9849f1;
    z-index: -2;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: -40%;
    left: 0;
    box-shadow: 0 20px 65px rgba(71, 35, 156, 0.5);
}

body::before {
    content: '';
    position: absolute;
    width: 4%;
    height: 120%;
    background-color: rgba(152, 73, 241, 0.768);
    z-index: -2;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    bottom: -40%;
    right: 0;
    box-shadow: 0 20px 65px rgba(71, 35, 156, 0.5);
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin: 30px 0 20px 0;
    font-size: 32px;
    letter-spacing: 7px;
    color: #e5cfee;
    position: relative;
    z-index: 1;
}

.wrapper {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.container {
    width: 100%;
    position: relative;
    padding: 50px 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #802ecc;
    box-shadow: 0 20px 65px rgba(71, 35, 156, 0.5);
    text-align: center;
}

.container::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: rgba(152, 73, 241, 0.768);
    z-index: -1;
    top: -10%;
    left: 10%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.container #quote {
    color: #e5cfee;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 18px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container #author {
    color: #FFF;
    margin: 30px 0 30px 0;
    font-weight: 600;
    text-transform: capitalize;
}

.container #date {
    display: block;
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
    text-align: left;
    font-style: normal;
    line-height: 2;
    letter-spacing: 2px;
}

.container #tag {
    display: block;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    text-transform: capitalize;
    font-style: normal;
    line-height: 2;
    letter-spacing: 2px;
}

.container #tag span,
.container #date span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #e5cfee;
}

.container #tag span:first-of-type,
.container #date span:first-of-type {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFF;
}

.wrapper #btn {
    display: block;
    margin: 60px auto 0;
    /* background-color: #fff; */
    background-color: #802ecc;
    border: none;
    outline: none;
    padding: 15px 45px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    /* color: #cb35f4; */
    color: #FFF;
    box-shadow: 0 5px 10px rgba(71, 35, 156, 0.5);
}

.container #btn:focus {
    border: none;
    outline: none;
}

@media(max-width: 480px) {
    .wrapper {
        width: 350px;
    }
    h2{
        display: none;
    }
}
