* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #6032d5;
    /* overflow: hidden !important; */
    overflow: hidden !important;
}

#alert {
    max-width: 250px;
    word-break: break-word;
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    background: #FFF;
    padding: 10px 20px;
    margin: 20px 0 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: #6032d5;
    font-weight: 600;
    transition: display .3s ease;
    -webkit-transition: display .3s ease;
    -moz-transition: display .3s ease;
    -ms-transition: display .3s ease;
    -o-transition: display .3s ease;
}

/* Translate Styles */
.goog-te-banner-frame,
.goog-te-gadget span,
#goog-gt-tt {
    display: none !important;
}

.translate {
    position: relative;
}

.goog-te-gadget-simple .fa-language {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.goog-te-gadget-simple {
    background-color: transparent !important;
    /* border-left: 1px solid #d5d5d5;
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #d5d5d5; */
    border: none !important;
    font-size: 10pt;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 2px;
    cursor: pointer;
}

.goog-te-gadget-icon {
    visibility: hidden;
    opacity: 0;
}

.goog-te-gadget {
    font-size: 0px !important;
    position: relative;
    z-index: 3;
    background: transparent !important;
    /* display: none; */
}

.goog-te-gadget select:focus {
    border: none;
    outline: none;
}

.goog-te-gadget select {
    padding: 7px;
    width: 47px !important;
    height: 47px !important;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* .goog-te-menu-frame {
    width: 90% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
}

.goog-te-menu-frame .goog-te-menu2 {
    width: 100% !important;
    overflow: scroll !important;
} */

.wrapper {
    width: 605px;
    background: #FFF;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 30px 30px 25px;
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

.wrapper .content {
    margin: 35px 0;
}

.content .quote-area {
    display: flex;
    justify-content: center;
}

.quote-area .quote {
    font-size: 22px;
    text-align: center;
    word-break: break-word;
}

.quote-area i {
    font-size: 15px;
}

.quote-area i:first-child {
    margin: 3px 10px 0 0;
}

.quote-area i:last-child {
    margin: 0 0 3px 10px;
    display: flex;
    align-items: flex-end;
}

.content .author,
.content .date {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
}

.content .date {
    font-size: 12px;
    margin-top: 10px;
}

.content #tag {
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}

.content #tag span {
    margin: 0 0 0 7px;
    color: #1f7eea;
    text-decoration: underline;
}

.content .author span:first-child {
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons {
    border-top: 1px solid #ccc;
}

.buttons .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.features ul {
    display: flex;
}

.features ul li {
    list-style: none;
    margin: 0 5px;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #6032d5 !important;
    color: #6032d5;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.features ul li:hover {
    color: #FFF;
    border-color: transparent;
    background: #6032d5 !important;
}

.features button#newQuote {
    border: thin solid transparent;
    outline: none;
    color: #FFF;
    background: #4419b0;
    padding: 13px 22px;
    cursor: pointer;
    font-style: 16px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.features button#newQuote:hover {
    color: #4419b0;
    background: #FFF;
    border-color: #4419b0;
    font-weight: 600;
}

.features button#newQuote.loading,
.sound.loading {
    opacity: .7;
    pointer-events: none;
}

/* Responsive */
@media(max-width: 650px) {
    .wrapper {
        width: 400px;
    }

    .buttons .features {
        flex-wrap: wrap;
        gap: 15px 0;
        justify-content: center;
    }

    .quote-area .quote {
        font-size: 18px;
    }

    .quote-area i {
        font-size: 11px;
    }

    .wrapper header {
        font-size: 30px;
    }

    .content .author {
        font-size: 16px;
    }

    .content .date {
        font-size: 11px;
    }

    .content #tag {
        margin-top: 15px;
    }
}

@media(max-width: 425px) {
    .wrapper {
        width: 280px;
        padding: 20px 10px;
    }

    .quote-area .quote {
        font-size: 16px;
    }

    .quote-area i {
        font-size: 9px;
    }

    .wrapper header {
        font-size: 22px;
    }

    .content .author {
        font-size: 14px;
    }

    .content .date {
        font-size: 9px;
    }
}