* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #6032d5;
}

.wrapper {
    width: 605px;
    background: #FFF;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 30px 30px 25px;
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

.wrapper .content {
    margin: 35px 0;
}

.content .quote-area {
    display: flex;
    justify-content: center;
}

.quote-area .quote {
    font-size: 22px;
    text-align: center;
    word-break: break-word;
}

.quote-area i {
    font-size: 15px;
}

.quote-area i:first-child {
    margin: 3px 10px 0 0;
}

.quote-area i:last-child {
    margin: 0 0 3px 10px;
    display: flex;
    align-items: flex-end;
}

.content .author,
.content .date {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
}

.content .date {
    font-size: 12px;
    margin-top: 10px;
}

.content #tag {
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}

.content #tag span {
    margin: 0 0 0 7px;
    color: #1f7eea;
    text-decoration: underline;
}

.content .author span:first-child {
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons {
    border-top: 1px solid #ccc;
}

.buttons .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.features ul {
    display: flex;
}

.features ul li {
    list-style: none;
    margin: 0 5px;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #6032d5;
    color: #6032d5;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.features ul li:hover {
    color: #FFF;
    border-color: transparent;
    background: #6032d5;
}

.features button#newQuote {
    border: thin solid transparent;
    outline: none;
    color: #FFF;
    background: #4419b0;
    padding: 13px 22px;
    cursor: pointer;
    font-style: 16px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.features button#newQuote:hover {
    color: #4419b0;
    background: #FFF;
    border-color: #4419b0;
    font-weight: 600;
}

.features button#newQuote.loading {
    opacity: .7;
    pointer-events: none;
}